
@{
    ViewBag.Title = "Index";
}

<h2>Acadmic Calanders</h2>


<div class="row">

    @*<div class="col-md-4 col-sm-12">



        @Html.ValidationSummary(false, "", new { @class = "text-danger" })




        @using (@Html.BeginForm("AddRules", "AcademicCalander"))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.AcademicCalander.StartDate)
                @Html.TextBoxFor(m => m.AcademicCalander.StartDate, "{0:d MMM yyyy}", new { @class = "form-control", Type = "date" })


                @Html.ValidationMessageFor(m => m.AcademicCalander.StartDate,
                        "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.AcademicCalander.AcademicCalanderRule)
                @Html.DropDownListFor(m => m.AcademicCalander.AcademicCalanderRule,
              EnumHelper.GetSelectList(typeof(AcademicCalanderRule)), "Select Class", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AcademicCalander.AcademicCalanderRule,
                         "", new { @class = "text-danger" })

            </div>



            <div class="form-group">
                @Html.LabelFor(m => m.AcademicCalander.Note)

                @Html.TextBoxFor(m => m.AcademicCalander.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AcademicCalander.Note,
                         "", new { @class = "text-danger" })

            </div>


            <div class="form-group">


                @Html.CheckBoxFor(m => m.AcademicCalander.flag)
                @Html.LabelFor(m => m.AcademicCalander.flag)

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>


        }





    </div>*@


</div>