@model REPLSolutions.Web.ViewModels.AddAttendancePageViewModel

@{
    ViewBag.Title = "AddAttendance";
}

<h2>Add Attendance  for @Model.ClassRoom.Class.Name   @Model.ClassRoom.Section.Name  </h2>
<br />
<br />
<br />
<br />




@using (Html.BeginForm("SaveAttendancePage", "Attendance"))
{


    <div class="row">

        @for (int i = 0; i < Model.AttendanceEntries.Count; i++)
        {
            <div class="col-md-3 ">
                <div class="row">

                    <div class="col-md-12">
                        <div align="center">
                            <img src="https://source.unsplash.com/random" width="200" height="200" />

                        </div>

                    </div>

                    <div class="col-md-12 container">
                        <div align="center">
                            <br />

                            <span class="text-capitalize">@Model.AttendanceEntries[i].Student.FirstName &nbsp;@Model.AttendanceEntries[i].Student.MiddleName &nbsp;@Model.AttendanceEntries[i].Student.LastName </span>
                            @*<p class="text-capitalize">@Model.AttendanceEntries[i].Student.MiddleName</p>
        <p class="text-capitalize">@Model.AttendanceEntries[i].Student.LastName</p>*@
                            @Html.HiddenFor(m => Model.AttendanceEntries[i].StudentId)

                        </div>

                        <div align="center">


                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <label>Present</label>

                                    @Html.CheckBoxFor(
                                   m => Model.AttendanceEntries[i].Present,
                                   new
                                        {
                                            @class = "form-control",
                                       onclick = "presentClicked(" + @i + ");",
                                       id = "p" + @i
                                        })
                                    <br />

                                    <br />
                                </div>

                                <div class="col-md-6 col-sm-6 ">

                                    <label>Leave</label>
                                    @Html.CheckBoxFor(
                                   m => Model.AttendanceEntries[i].Leave,
                                   new
                                        {
                                            @class = "form-control",
                                       id = "l" + @i,
                                       onclick = "leaveClicked(" + @i + ");"



                                   })

                                </div>

                            </div>


                       
                                                 </div>

                    </div>


                </div>

            </div>
        }



    </div>

    <label>Notes</label>
    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
    @Html.HiddenFor(m => m.AttendanceDate)
    @Html.HiddenFor(m => m.classRoomId)

    <br />
    <button type="submit" class="btn btn-primary">Submit </button>
}



@section Scripts{

    <script>

        //document.getElementById("myCheck").k = true;


        function presentClicked(i) {
            if (document.getElementById('p' + i).checked == true) {

                document.getElementById('l' + i).checked == false

                document.getElementById("l" + i).disabled = true
            } else {
                document.getElementById('l' + i).checked == false

                document.getElementById("l" + i).disabled = false
            }
        }

        function leaveClicked(i) {
            if (document.getElementById('l' + i).checked == true) {
                document.getElementById('p' + i).checked == false

                document.getElementById("p" + i).disabled = true
            } else {
                document.getElementById("p" + i).disabled = false
            }
        }



    </script>


}