@model REPLSolutions.Web.ViewModels.UpdateAttendancePageViewModel
@{
    ViewBag.Title = "UpdateAttendance";
}



<br />
<br />
<br />
<br />


<div class="panel panel-primary">
    <div class="panel-heading">Update Attendance for  @Model.ClassRoom.Class.Name   @Model.ClassRoom.Section.Name </div>
    <div class="panel-body">
        @using (Html.BeginForm("UpdateAttendance", "Attendance"))
        {


            <div class="row">

                @for (int i = 0; i < Model.AttendanceEntries.Count; i++)
                {
                    <div class="col-md-3 ">
                        <div class="row">

                            <div class="col-md-12">
                                <div align="center">
                                    <img src="https://source.unsplash.com/random" width="200" height="200" />

                                </div>

                            </div>

                            <div class="col-md-12 container">
                                <div align="center">

                                    <h5 class="text-capitalize">@Model.AttendanceEntries[i].Student.FirstName @Model.AttendanceEntries[i].Student.MiddleName @Model.AttendanceEntries[i].Student.LastName</h5>
                                    @*<h3 class="text-capitalize">@Model.AttendanceEntries[i].Student.MiddleName</h3>
                                    <h3 class="text-capitalize">@Model.AttendanceEntries[i].Student.LastName</h3>*@
                                    @Html.HiddenFor(m => Model.AttendanceEntries[i].StudentId)
                                    @Html.HiddenFor(m => Model.AttendanceEntries[i].AttendanceId)
                                    @Html.HiddenFor(m => Model.AttendanceEntries[i].Id)
                                </div>

                                <div align="center">
                                  
                                    

                                       
                                               
                                                    <br />


                                                    <label>Present</label>

                                               
                                              
                                               
                                                    @Html.CheckBoxFor(m => Model.AttendanceEntries[i].Present,
                                         new
                                              {
                                                  @class = "form-control",
                                             onclick = "presentClicked(" + @i + ");",
                                             id = "p" + @i
                                              })
                                               

                                            


                                        
                                        
                                            <label>Leave</label>
                                            @Html.CheckBoxFor(m => Model.AttendanceEntries[i].Leave,
                                           new
                                                {
                                                    @class = "form-control",
                                               id = "l" + @i,
                                               onclick = "leaveClicked(" + @i + ");"

                                                })
                                        


                                    <br />

                                    <br />

                                </div>

                            </div>


                        </div>

                    </div>
                }



            </div>

            <label>Notes</label>
            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            @Html.HiddenFor(m => Model.AttendanceId)

            <br />
            <button type="submit" class="btn btn-primary">Submit </button>
        }


    </div>
</div>


<h2></h2>





@section Scripts{

    <script>

        //document.getElementById("myCheck").k = true;


        function presentClicked(i) {
            if (document.getElementById('p' + i).checked == true) {

                document.getElementById('l' + i).checked == false

                document.getElementById("l" + i).disabled = true
            } else {
                document.getElementById('l' + i).checked == false

                document.getElementById("l" + i).disabled = false
            }
        }

        function leaveClicked(i) {
            if (document.getElementById('l' + i).checked == true) {
                document.getElementById('p' + i).checked == false

                document.getElementById("p" + i).disabled = true
            } else {
                document.getElementById("p" + i).disabled = false
            }
        }


    </script>


}